.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
  padding: 1rem;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  height: 180px;
  width: 1119px;
}

.infoContainer {
  display: flex;
  gap: 1rem;
}

.title {
  display: flex;
  align-items: center;
}

.editContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product:hover {
  border: 1px solid rgb(196, 196, 196);
}

.productImage {
  margin: 1rem;
  width: 80px;
}

.editContainer > button {
  background-color: #4e71d3;
  color: white;

  font-weight: bold;
  border: 1px solid #4e71d3;
  border-radius: 2px;
  height: 35px;
  cursor: pointer;
}

.editContainer > button:hover {
  background-color: white;
  color: #4e71d3;
}
